
<h2><strong>WHAT DO WE SAY TO THE GOD OF DEATH?</strong></h2>
<h1><em><strong>NOT TODAY</strong></em></h1>



<p>current win streak {{currentWinStreak}}</p>
<p>best win streak {{bestWinStreak}}</p>

<p><a href="/guesswho">play again</a></p>


<p>enter your email to keep updated </p>

<form name="myForm" action="" onsubmit="return validateForm()" >
email: <input type="text" name="femail">
<input type="submit" value="Submit">
</form>

<script src="javascripts/formValidation.js"></script>


<p class="instructPtag"> Check out all the scores below!! (you can filter by username)</p>

<div id="bd">

<form method="get" action="">
	  username: <input type="text" id="name" name="name"><br>
	  <input type="submit" id="btn" value="filter">
	</form>


	<table style="width:100%">
	  <tr>
    	<th>username</th>
	    <th>current streak</th> 
	    <th>best streak</th>
	  </tr>
	  
	  <tbody id="score-list">
	  {{#each users}}
	  	<tr>
    		<td>{{username}}</td>
	   		 <td>{{currentWinStreak}}</td> 
	   		 <td>{{bestWinStreak}}</td>
	  	</tr>
	  
	  {{/each}}
	  </tbody>
	  
	</table>

</div>





<script src="javascripts/formAjax.js"></script>



